.banner{
    width: 100%;
    height: 300px;
    background-image: url(../../imagenes//fondo-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 20%;
}

.informacion-banner{
    font-size: 20px;
}

.input-banner{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.restaurantes {
    display: flex;
    background: #EBEBEB;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 20px;
}

.logo {
    width: 95px;
    height: 95px;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.more-info {
    margin-left: 3%;
}

.boton-restaurantes {
    padding: 12px;
    border-radius: 10px;
    background-color: #9D1717;
    color: white;
}

@media (max-width: 550px) {
    .banner {
        padding-left: 20px;
        padding-right: 20px;
    }
  }