<footer>
    <div class="container">
        <div class="row pb-4">
            <div class="mt-4">
                <h4 class="mb-4">Acerca de nosotros</h4>
                
                <h5>En esta pagina puedes <br>conseguir las mejores ofertas de <br> los restaurantes de tu ciudad.</h5>
            </div>
            <div class="mt-4 cadauno">
                <h4 class="mb-4">Contacto</h4>

                <h5 class=" mb-3">osio@gmail.com</h5>
                <h5 class=" mb-3">3046324435</h5>
            </div>
            <div class="mt-4 cadauno">
                <h4 class="mb-4">Explorar</h4>

                <div>
                    <a class="mb-3 h5 text-white" routerLink ="/home">Inicio</a>
                </div>
                <div>
                    <a class="mb-3 h5 text-white" routerLink ="/restaurantes">Restaurante</a>
                </div>
            </div>
        </div>
    </div>
    <div class="linea-footer"></div>
    <div>
        <h5 class="text-center p-2 pb-0 mb-0">2020 - Todos los derechos reservados &#174;</h5>
    </div>
</footer>