<div class="banner">
    <p class = "text-center text-white informacion-banner">OSIO</p>
    <p class ="text-center text-white informacion-banner">Consigue las mejores promociones y variedades <br> de los restaurantes en tu ciudad</p>
    <div class="text-center mt-4">
        <div class="row">
            <div class="col-md-3 col-6">
                <input type="text" name="" id="" class ="input-banner pl-2 mb-3" placeholder="Ciudad">
            </div>

            <div class="col-md-3 col-6">
                <input type="text" name="" id="" class ="input-banner pl-2 mb-3 " placeholder="Restaurante">
            </div>

            <div class="col-md-3 col-6">
                <input type="text" name="" id="" class ="input-banner pl-2 mb-3" placeholder="Precio menor">
            </div>

            <div class="col-md-3 col-6">
                <input type="text" name="" id="" class ="input-banner pl-2 mb-3 " placeholder="Precio mayor">
            </div>
        </div>
    </div>

</div>