<nav class="navbar navbar-expand-lg" style="background-color: #DE4141;">
    <div class="container">
        <a class="navbar-brand logo" routerLink ="/home">OSIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-md-3">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink ="/home">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink ="/restaurantes">Restaurantes</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 pl-0">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"
                    style ="width: 70%; height: 30px; border-radius: 5px;" id ="busqueda">
                    <input type = "button" class ="btn btn-danger" value ="Buscar" (click) ="buscar()">
                </form>       
            </div>

            <div class="col-md-3">
                <ul class="navbar-nav mr-auto">
                    <app-login></app-login>
                    <app-registro></app-registro>
                </ul>
            </div>
        </div>

    </div>
</nav>